@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn.ant-btn-primary {
	background-color: #1677ff !important;
}

.jodit-ui-button.jodit-ui-button_variant_primary {
	background-color: #1677ff !important;
}

@layer base {

	/* width */
	::-webkit-scrollbar {
		width: 8px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #515151;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #2c2c2c;
	}

	ul, ol {
		@apply pl-10 mt-4;
	}

	ol {
		@apply list-decimal;
	}

	ul {
		@apply list-disc;
	}

	.jodit-render a {
		@apply font-medium text-blue-600 transition-all dark:text-blue-500 hover:brightness-150 hover:underline;
	}

	.jodit-render strong {
		@apply block my-1 indent-0;
	}

	.jodit-render p+p {
		@apply block my-4;
	}

	.jodit-render ul, ol {
		@apply pl-10 mt-4;
	}
}

@layer components {
	.container {
		@apply max-w-screen-xl px-4 mx-auto;
	}

	.sub-heading {
		@apply mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-12 dark:text-gray-400
	}

	.button-normal {
		@apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700;
	}

	.button-light {
		@apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2;
	}

	.button-primary {
	@apply focus:outline-none text-white dark:text-black bg-dark-primary hover:brightness-75 focus:ring-4 focus:ring-primary font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-primary dark:hover:brightness-75 dark:focus:ring-dark-primary disabled:opacity-30 disabled:cursor-not-allowed;
	}
}

@layer utilities {
	.border-normal {
		@apply border border-gray-200 dark:border-gray-700;
	}

	.bg-normal {
		@apply bg-gray-100 dark:bg-gray-900;
	}

	.text-normal {
		@apply text-gray-900 dark:text-white;
	}
}